body {
  font: 12px sans-serif;
  margin: 0;
}

#jumbotron-wrapper {
	width: 100%;
	padding: 50px 0;
	background-color: #000000;
	background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

#jumbotron {
	text-align: center;
	display: block;
	width: 1000px;
	margin: 0 auto;
	color: #fafafa;
}

#jumbotron h1 {
	font-size: 40pt;
}

#jumbotron h2 {
	font-size: 24pt;
}

#jumbotron h3 {
	font-size: 16pt;
	font-weight: lighter;
}

.vis {
	/*margin: 0 auto;*/
	text-align: center;
	background-color: #f3f3f3;
}

.story {
	text-align: center;
	display: block;
	margin: 50px auto;
	width: 800px;
}

.story p {
	font-size: 12pt;
	line-height: 1.5em;
}

.divider {
	display: block;
	margin: 50px auto;
	height: 1px;
	width: 800px;
	background-color: #ccc;
}

.lead {
	/* lead questions, centered */
	font-family: 'Oleo Script', cursive;
	font-size: 30pt;
}

footer {
	text-align: center;
	display: block;
	margin: 50px auto;
	width: 800px;
}

.title {
	/* chart titles */
	font-size: 16pt;
	font-weight: bold;
}